sources:
	cdc.impl.datasource.jdbc.JDBCDataSource;
	cdc.impl.datasource.text.CSVDataSource;
	cdc.impl.datasource.office.ExcelDataSource;
	cdc.impl.datasource.text.FixedColumnWidthFileDataSource;
end;

joins:
	cdc.impl.join.nestedloop.NestedLoopJoin;
	cdc.impl.join.snm.SNMJoin_v1;
	#cdc.impl.join.dnm.DNMJoin;
	cdc.impl.join.blocking.BlockingJoin;
	cdc.impl.join.svm.SVMJoin;
end;

savers:
	cdc.impl.resultsavers.CSVFileSaver;
	cdc.impl.resultsavers.ResultsPrinter;
end;

converters:
	cdc.datamodel.converters.JoinConverter;
	cdc.datamodel.converters.SplitConverter;
	cdc.datamodel.converters.TrimConverter;
	cdc.datamodel.converters.AppendConverter;
	cdc.datamodel.converters.ReplaceConverter;
end;

distances:
	cdc.impl.distance.EqualFieldsDistance;
	cdc.impl.distance.PairSimilarityDistance;
	cdc.impl.distance.EditDistance;
	cdc.impl.distance.JaroWinkler;
	cdc.impl.distance.QGramDistance;
	cdc.impl.distance.SoundexDistance;
        cdc.impl.distance.AddressDistance;
	cdc.impl.distance.NumericDistance;
	cdc.impl.distance.DateDistance;
end;

join-conditions:
	#cdc.impl.conditions.SimpleAndJoinCondition:
	#	cdc.impl.join.nestedloop.NestedLoopJoin;
	#	cdc.impl.join.snm.SNMJoin_v1;
	#	cdc.impl.join.dnm.DNMJoin;
	#end;
	cdc.impl.conditions.WeightedJoinCondition:
		cdc.impl.join.nestedloop.NestedLoopJoin;
		cdc.impl.join.snm.SNMJoin_v1;
		cdc.impl.join.dnm.DNMJoin;
		cdc.impl.join.svm.SVMJoin;
	end;
end;
